.homepage {
  display: flex;
}
.sidedisp{
  display:none;
}
.appdisp{
  position: absolute;
  margin-left:calc(100% - 60px);
}

.content {
  width: 100%;
  padding: 5vh 2%;
}

.content h5{
  font-family: 'Caveat', cursive;
  color:rgb(92, 91, 91);
  font-size:20px;
  font-weight: 100;
  font-style: italic;
}
#specialText{
  padding-left:6%;
  font-size:20px;
  color:grey;
  letter-spacing:3px;
  font-weight: 400;
}
.content span:hover {
  -webkit-animation: rubberband 0.8s linear;
  color:#08fdd8;
}

.hometitle{
  padding:0 6%;
}
.hometitle span {
  display: inline-block;
  font-family: "Readex Pro", sans-serif;
  font-weight:900;
  color:white;
  font-size: 30px;
  
  transition: color 0.1s ease-in;
}


@keyframes rubberband {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    transform: scale(1);
  }
}


.trail { /* className for the trail elements */
  /* display: none; */
  position: absolute;
  height: 3px; width: 4px;
  border-radius: 100px;
  background-color: rgb(207, 113, 129);
  /* size:10px; */
  /* background: linear-gradient(rgb(170, 66, 66),rgb(146, 12, 12)); */
}

@media only screen and (min-width: 1024px){
  .sidedisp{
      display:block;
  }
  .appdisp{
    display:none;
  }
  .hometitle span{
    font-size: 80px;
  }
  .content p{
    font-size:20px;
  }
  .content button{
    width:200px;
    height:60px;
    font-weight: 600;
  }
}